@charset "utf-8";

body {
  padding-top: 80px;
}

* {
    font-family: sans-serif;
    color: gray;
  }

.header {
  position: fixed;
  width: 100%;
  white-space:nowrap;
}

.bread-crumb {
  padding-bottom: 16px;
}

.bread-crumb > span {
  padding: 0 16px;
} 

.bread-crumb > span::before {
  content: '>';
} 

.container {
  max-width: 600px;
  margin: 0 auto;
  /* border: 1px solid gray; */
  border-radius: 4px;
}

.border-basic {
  border: 1px solid gray;
}

.divider {
  border: 1px dotted gray;
  margin: 16px 0;
}

h1 {
  background-color: royalblue;
  padding: 4px;
  top: 0; /* 上下の固定位置を上から0pxにする */
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

h2 {
  background-color: royalblue;
  padding: 4px;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

p {
  padding: 8px;
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

ul > li {
  padding-bottom: 4px;
}

a {
  color: royalblue;
  text-decoration: none;
}